<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %>!!!</h1>
    <p>
      This is being sent from Heroku.... Right now the sender says its from me, but we should make a info@cannabiznetwork.com or noreply@cannabiznetwork.com for these emails
    </p>
    <p>
      We can add anything we want to the body and style it just like a webpage... 
    </p>
    <p>
      we can also add this to a trigger method for a new user - so like we can send a 'Welcome to Cannabiz Network' type thing ya kno... a lot of possibilities
    </p>
    <p>
      Anyway, just wanted to show you guys this was working... Bye!!!
    </p>
  </body>
</html>